body {
    background-color: rgb(125, 170, 220);
    font-family: Poppins, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.card p{
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    text-align: center;
    line-height: 1.5;
}

.card .bold {
    font-weight: bold;
    color: #2c3e50;
    font-size: 13px;
}

.card .light {
    font-weight: 300;
    color: #7f8c8d;
    font-size: 13px;
}